body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: #fdf8e2;
}

.name {
    height: 80px;
    background-color: #ffddd3;
    text-align: center;
    margin-bottom: 100px
}

.translator-container {
    text-align: center;
}

textarea {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    border-width:3px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    border-radius: 20px;
    background-color: #ffddd3;
    border-color: BLACK;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.buttons {
    display: block; /* makes each button on it's own line */
}

.translate-button {
    border-radius: 20px;
    background-color: #ffddd3;
    border-color: BLACK;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    height: 60px;
    width: 300px;
    margin: 15px auto; /* adds spacing to the button and centers it */
    text-decoration: none; /* removes underline from hyperlink */
    font-size: 20px;
    transition: 0.3s;
}

.translate-button:hover {
    background-color: #F3BFB3;
}

.clear-button {
    margin-left: 20px;
}



.asl-output {
    margin-top: 20px;
    font-size: 18px;
}
