body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: #fdf8e2;
}

.name {
    text-align: center;
    margin-bottom: 100px
}

.translator-container {
    text-align: center;
}

textarea {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    border-width:3px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    border-radius: 20px;
    background-color: #ffddd3;
    border-color: BLACK;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.asl-output {
    margin-top: 20px;
    font-size: 18px;
}

.asl-diagram {
    margin-top: 20px;
}

.asl-diagram p {
    font-weight: bold;
}

.asl-diagram div {
    font-size: 36px;
}