* {
    margin: 0;
    padding: 0;
}

.name {
    display: flex;
  align-items: center;
  justify-content: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: #fdf8e2;
}

.name {
    height: 80px;
    background-color: #ffddd3;
    text-align: center;
    margin-bottom: 100px
}

.translator-container {
    text-align: center;
}

textarea {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    border-width:3px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    border-radius: 20px;
    background-color: #ffddd3;
    border-color: BLACK;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.buttons {
    display: block; /* makes each button on it's own line */
}

.translate-button {
    border-radius: 20px;
    background-color: #ffddd3;
    border-color: BLACK;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    height: 60px;
    width: 300px;
    margin: 15px auto; /* adds spacing to the button and centers it */
    text-decoration: none; /* removes underline from hyperlink */
    font-size: 20px;
    transition: 0.3s;
}

.translate-button:hover {
    background-color: #7674ff;
}

.clear-button {
    margin-left: 20px;
}

footer {
    background-color: black;
    color: white;
    bottom: 0;
    width: 100vw;
    height: 100px;
    font-size: 16px;
}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
  }

.footer_text {
    text-align: center;
}

.translate-toggle {
    margin: 0 0 1.5rem; box-sizing: border-box;
    font-size: 16px;

    justify-content: flex-start; align-items: stretch;
    text-align: center;
    }

.toggle-right {
    margin-left: 30px;
}

.asl-output {
    margin-top: 20px;
    font-size: 18px;
}

.about-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-header {
    color: #333;
}

.about-text {
    color: #666;
    line-height: 1.6;
    font-size: large;
}

html {
    scroll-behavior: smooth;
}